@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var listServices = (List<Model.EF.Service>)ViewBag.NewServices;
    var listNews = (List<Model.EF.News>)ViewBag.ListNews;
    var listBlogs = (List<Model.EF.News>)ViewBag.ListBlogs;
}
<style>
    .vietiser-img img {
        border-radius: 50%;
    }

    .item-thumb img {
        width: 100%;
    }

    img {
        display: inline-block;
        vertical-align: middle;
        max-width: 100%;
        height: auto;
    }

    img {
        border-width: 0px;
        border-style: initial;
        border-color: initial;
        border-image: initial;
    }

    .img-responsive {
        height: auto;
        max-width: 100%;
        text-align: center;
    }

    .name {
        font-size: 18px;
        line-height: 22px;
        color: #3b5998;
        margin: 15px 0px 10px;
    }

    .summary {
        font-weight: 400;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        overflow: hidden;
        height: 110px;
        font-size: 14px;
    }

    .clear-fix {
        clear: both;
    }

    #services {
        float: left;
        width: 100%;
        background-color: #edf0f6 !important;
        padding: 40px 0px 30px;
    }

    .container {
        margin-right: auto;
        margin-left: auto;
        padding-left: 15px;
        padding-right: 15px;
    }

    #services .title {
        color: #3b5998;
        font-size: 24px;
        line-height: 30px;
        text-align: center;
    }

    .owl-carousel {
        display: block;
        width: 100%;
        z-index: 1;
    }

        .owl-carousel, .owl-carousel .owl-item {
            -webkit-tap-highlight-color: transparent;
            position: relative;
        }

    .item-content-sv {
        text-align: center;
        -moz-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        float: left;
        width: 100%;
        margin-bottom: 30px;
    }

    #services .item-content .image {
        text-align: center;
        vertical-align: middle;
        height: 80px;
        margin: 0px;
        line-height: 80px;
    }

    #services .item-content img {
        vertical-align: middle;
        display: inline-block;
        filter: grayscale(1);
        -webkit-filter: grayscale(1);
        -moz-filter: grayscale(1);
        -o-filter: grayscale(1);
        width: auto;
    }

    a {
        color: #333333;
        text-decoration: none;
    }

    .img-sv {
        border: 1px solid #dddddd;
        -moz-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        -webkit-box-shadow: 1px 2px 5px -4px rgba(0,0,0,0.51);
        -moz-box-shadow: 1px 2px 5px -4px rgba(0,0,0,0.51);
        box-shadow: 1px 2px 5px -4px rgba(0,0,0,0.51);
        margin-bottom: 20px;
    }

    .vietiser {
        background-color: #edf0f6 !important;
    }
</style>
<!-- banner -->
<div class="banner layer" id="home">
    <div class="container">
        <div class="banner-text">
            <div class="slider-info">
                <div class="agileinfo-logo">
                    <h3 style="font-size: 125px;">
                        <span class="fab fa-linode text-center"></span> Wellcome to VietIS
                    </h3>
                </div>
                <h3 class="txt-w3_agile">In Pursuit of Exellence</h3>
            </div>
        </div>
    </div>
</div>
<!-- //banner -->
<!-- banner bottom -->
<section class="w3ls-bnrbtm py-5" id="w3layouts_bnrbtm">
    <!-- title description  -->
    <div class="container py-sm-5">
        <div class="row pt-lg-5">
            <div class="col-lg-5  bb-left">
                <span class="w3-line">CEO Message</span>
                <h3 class="agile-title">Improve continuously to bring success to Customer’s Offshore Project</h3>
            </div>
            <div class="col-lg-7 mt-lg-0 mt-3 px-lg-5">
                <p>
                    Chúng tôi muốn cảm ơn bạn đã hợp tác với chúng tôi.
                </p>
                <p>
                    VIETIS được thành lập vào năm 2009 tại Hà Nội, tập trung vào thị trường Nhật Bản. Chúng tôi đảm bảo cung cấp các dịch vụ phần mềm đáng tin cậy ra nước ngoài với chi phí thấp nhưng chất lượng cao. Cho đến nay, chúng tôi đã cung cấp một số dịch vụ như phát triển ứng dụng / bảo trì, điện toán đám mây, phát triển / bảo trì di động, thiết kế trang web / phát triển, phát triển hệ thống hỗ trợ cho khách hàng của chúng tôi.
                    Chúng tôi muốn cảm ơn bạn đã hợp tác với chúng tôi.
                </p>
                <p>
                    Kinh nghiệm rộng của chúng tôi cho phép chúng tôi tạo ra các ứng dụng sáng tạo kết hợp các nền tảng di động, công nghệ web động và các ứng dụng doanh nghiệp back-end thành một giải pháp tích hợp. Chúng tôi cung cấp cho bạn những điều tốt nhất của cả hai thế giới: Chúng tôi nói ngôn ngữ của bạn. Chúng tôi hiểu các yêu cầu cho ứng dụng của bạn và mong đợi của bạn về chất lượng và tính chuyên nghiệp. Chúng tôi có khả năng thực hiện tầm nhìn của bạn bằng cách sử dụng các kỹ sư hàng đầu.
                </p>
                <p>
                    Chúng tôi rất mong được tiếp tục và hỗ trợ thêm cho dịch vụ tốt hơn của chúng tôi trong tương lai.
                </p>
            </div>
        </div>
    </div>
    <!-- //title description  -->
</section>
<!-- //banner bottom -->
<!-- about -->
<section class="py-sm-5 py-3">
    <div class="row-content" id="introduce">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-4">
                    <img class="img-responsive img-sv" src="~/assets/client/images/introduce/introduce1.jpg" alt="Tài nguyên Dynamics">
                    <h3 class="name">Dynamic Resources</h3>
                    <summary class="summary">
                        Tài nguyên kỹ sư có thể mở rộng với tỷ lệ doanh thu thấp.
                        Tiềm năng để cung cấp đúng người vào đúng thời điểm để đáp ứng nhu cầu kinh doanh của khách hàng.
                    </summary>
                    <!--END item -->
                </div>
                <!--END col-xs-12 -->

                <div class="col-xs-12 col-md-4">
                    <img class="img-responsive img-sv" src="~/assets/client/images/introduce/introduce2.jpg" alt="Bảo vệ">
                    <h3 class="name">Security</h3>
                    <summary class="summary">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">
                                Môi trường làm việc an toàn dựa trên tiêu chuẩn ISO27001: 2013 được chứng nhận cũng như các tùy chỉnh cụ thể phù hợp với tiêu chuẩn của từng khách hàng
                            </font>
                        </font>
                    </summary>
                    <!--END item -->
                </div>
                <!--END col-xs-12 -->

                <div class="col-xs-12 col-md-4" style="margin-bottom: 20px;">
                    <img class="img-responsive img-sv" src="~/assets/client/images/introduce/introduce3.jpg" alt="Vietnam Merit">
                    <h3 class="name">Vietnam Merit</h3>
                    <summary class="summary">
                        Điểm đến mới cho gia công phần mềm với chi phí cạnh tranh và môi trường ổn định
                    </summary>
                    <!--END item -->
                </div>
                <!--END col-xs-12 -->
                <div class="clear-fix"></div>

                <div class="col-xs-12 col-md-4">
                    <img class="img-responsive img-sv" src="~/assets/client/images/introduce/introduce4.jpg" alt="Giao tiếp">
                    <h3 class="name">Communication</h3>
                    <summary class="summary">
                        Khám phá và giải quyết các vấn đề dự án càng sớm càng tốt và cung cấp TRẢ TIẾP và TẦM NHÌN bằng nhiều kênh truyền thông hiệu quả và đa dạng
                    </summary>
                    <!--END item -->
                </div>
                <!--END col-xs-12 -->

                <div class="col-xs-12 col-md-4">
                    <img class="img-responsive img-sv" src="~/assets/client/images/introduce/introduce6.jpg" alt="Quy trình chuẩn">
                    <h3 class="name">Standard Process</h3>
                    <summary class="summary">

                        Tích hợp các công cụ quản lý dự án trực tuyến để giúp khách hàng của chúng tôi truy cập trạng thái dự án thời gian thực và các chi tiết nhiệm vụ được phát triển bởi phương pháp quản lý kinh nghiệm, thực tiễn tổ chức của chúng tôi.

                    </summary>
                    <!--END item -->
                </div>
                <!--END col-xs-12 -->

                <div class="col-xs-12 col-md-4">
                    <img class="img-responsive img-sv" src="~/assets/client/images/introduce/introduce5.jpg" alt="Đổi mới công nghệ">
                    <h3 class="name">Technology Innovation</h3>
                    <summary class="summary">
                        Tập trung vào Cloud Computing, Mobility, BI &amp; Analytics và các công nghệ mới khác và cung cấp cho khách hàng của chúng tôi để phát triển một thế hệ sản phẩm và giải pháp mới.
                    </summary>
                    <!--END item -->
                </div>
                <!--END col-xs-12 -->

            </div>
            <!--END introduce -->
        </div>
        <!--END introduce -->
    </div>
</section>
<!-- //about -->
<section>
    <div class="row-content" id="services">
        <div class="container">
            <h2 class="title">Our Offering Services </h2>
            <div class="row">
                <div id="owl-services" class="owl-carousel">
                    @foreach (var item in listServices)
                    {
                        var url = "/Services/Detail/" + item.ID;
                        <div class="item">
                            <div class="col-xs-6 col-md-3">
                                <a class="item-content" href="@url" title="@item.Name">
                                    <p class="image">
                                        <img class="img-responsive" src="@item.Image" alt="@item.Name">
                                    </p>
                                    <h3 class="name">@item.Name</h3>
                                </a>
                            </div>
                            <!--END col-xs-6 -->
                        </div>
                    }
                </div>
            </div>
            <!--END row -->
        </div>
        <!--END container -->
    </div>
    <div class="clear-fix"></div>
</section>
<section class="  py-5">
    <div class="container ">
        <h3 class="agile-title">Hoạt động của công ty</h3>

        <div class="kds-new-stream-wrapper">
            <ul class="knsw-list" >
                @foreach (var item in listBlogs)
                {
                    <li class="knswli clearfix " id="@item.ID">
                        <div class="knswli-left fl">
                            <a title="@item.Name" href="@Url.Action("Detail","News")/@item.ID" class="kscliw-ava"><img src="@item.Image" class="lazy" data-original="@item.Image" title="@item.Name" alt="@item.Name" width="250" height="155"></a>
                        </div>
                        <div class="knswli-right ">
                            <h4 class="knswli-title"><a href="@Url.Action("Detail","News")/@item.ID" title="@item.Name" data-id="@item.ID" newstype="0">@item.Name</a></h4>
                            @*<div class="knswli-meta">
                                    <a href="http://genk.vn/song.chn" class="knswli-category" title="Sống">Sống</a> -
                                    <span class="knswli-time" title="2018-09-20T21:27:00">3 giờ trước</span>
                                </div>*@
                            <span class="knswli-sapo">@item.Description</span>
                            <div class="knswli-relate-wrap nodisplay">

                            </div>
                        </div>
                    </li>
                }
            </ul>
        </div>
        <div style="float: right; margin-top: 20px; margin-right: 20px">
            <span><a href="@Url.Action("Blogs","News")">Xem Thêm  <i class="fas fa-arrow-right"></i></a></span>
        </div>
    </div>
</section>
<!-- case studies -->
<section class="  py-5   vietiser" id="w3layouts_cs">
    <div class="container ">
        <h3 class="agile-title">Tin tức công nghệ nổi bật</h3>

        <div class="kds-new-stream-wrapper">
            <ul class="knsw-list" >
                @foreach (var item in listNews)
                {
                    <li class="knswli clearfix " id="@item.ID" >
                        <div class="knswli-left fl"><a title="@item.Name" href="@Url.Action("Detail","News")/@item.ID" class="kscliw-ava"><img src="@item.Image" class="lazy" data-original="@item.Image" title="@item.Name" alt="@item.Name" width="250" height="155"></a>
                        </div>
                        <div class="knswli-right ">
                            <h4 class="knswli-title"><a href="@Url.Action("Detail","News")/@item.ID" title="@item.Name" data-id="@item.ID" newstype="0">@item.Name</a></h4>
                            @*<div class="knswli-meta">
                            <a href="http://genk.vn/song.chn" class="knswli-category" title="Sống">Sống</a> -
                            <span class="knswli-time" title="2018-09-20T21:27:00">3 giờ trước</span>
                        </div>*@
                            <span class="knswli-sapo">@item.Description</span>
                            <div class="knswli-relate-wrap nodisplay">

                            </div>
                        </div>
                    </li>
                }
            </ul>
        </div>
        <div style="float: right; margin-top: 20px; margin-right: 20px">
            <span><a href="@Url.Action("News","News")">Xem Thêm  <i class="fas fa-arrow-right"></i></a></span>
        </div>
    </div>
</section>
<section>
    <div class="container py-sm-5">
        <h3 class="agile-title">Các VietISer nói gì?</h3>
        <div class="row pt-5">

            <div class="col-md-4 col-sm-6">
                <div class="item " style="min-height:205px;">
                    <div class="row">
                        <div class="col-xs-4 col-md-5">
                            <figure class="item-thumb vietiser-img" style="margin:0;">
                                <img width="500" height="500" src="/Images/images/phuong.jpg" class="attachment-ci_vietiser size-ci_vietiser wp-post-image" alt="" srcset="https://tuyendung.vietis.com.vn/wp-content/uploads/2017/09/22046032_2099312003686513_1928363827702951257_n-500x500.jpg 500w, https://tuyendung.vietis.com.vn/wp-content/uploads/2017/09/22046032_2099312003686513_1928363827702951257_n-150x150.jpg 150w, https://tuyendung.vietis.com.vn/wp-content/uploads/2017/09/22046032_2099312003686513_1928363827702951257_n-300x300.jpg 300w, https://tuyendung.vietis.com.vn/wp-content/uploads/2017/09/22046032_2099312003686513_1928363827702951257_n-768x768.jpg 768w, https://tuyendung.vietis.com.vn/wp-content/uploads/2017/09/22046032_2099312003686513_1928363827702951257_n-100x100.jpg 100w, https://tuyendung.vietis.com.vn/wp-content/uploads/2017/09/22046032_2099312003686513_1928363827702951257_n-750x750.jpg 750w, https://tuyendung.vietis.com.vn/wp-content/uploads/2017/09/22046032_2099312003686513_1928363827702951257_n.jpg 960w" sizes="(max-width: 500px) 100vw, 500px">
                            </figure>
                            <span>Mai Phương</span>
                            <p>- Kế toán trưởng</p>
                        </div>
                        <div class="col-xs-8 col-md-7" style="padding: 0; text-align: left;">
                            <p>VietIS trong tôi là yêu thương! Albert Camus đã nói: “Không có lao động, mọi cuộc sống đều trở lên mục ruỗng. Nhưng khi lao động không hồn, cuộc sống ngột ngạt và chết”! Tình yêu và công việc – những điều quan trọng nhất đối với tôi và may[…]</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="item " style="min-height:205px;">
                    <div class="row">
                        <div class="col-xs-4 col-md-5">
                            <figure class="item-thumb vietiser-img" style="margin:0;">

                                <img width="500" height="500" src="/Images/images/trang.jpg" class="attachment-ci_vietiser size-ci_vietiser wp-post-image" alt="" srcset="https://tuyendung.vietis.com.vn/wp-content/uploads/2017/09/14192075_541474866054157_7894561055915060215_n-500x500.jpg 500w, https://tuyendung.vietis.com.vn/wp-content/uploads/2017/09/14192075_541474866054157_7894561055915060215_n-150x150.jpg 150w, https://tuyendung.vietis.com.vn/wp-content/uploads/2017/09/14192075_541474866054157_7894561055915060215_n-300x300.jpg 300w, https://tuyendung.vietis.com.vn/wp-content/uploads/2017/09/14192075_541474866054157_7894561055915060215_n-768x768.jpg 768w, https://tuyendung.vietis.com.vn/wp-content/uploads/2017/09/14192075_541474866054157_7894561055915060215_n-100x100.jpg 100w, https://tuyendung.vietis.com.vn/wp-content/uploads/2017/09/14192075_541474866054157_7894561055915060215_n-750x750.jpg 750w, https://tuyendung.vietis.com.vn/wp-content/uploads/2017/09/14192075_541474866054157_7894561055915060215_n.jpg 834w" sizes="(max-width: 500px) 100vw, 500px">

                            </figure>
                            <span>Đoàn Thị Trang</span>
                            <p>- Tester</p>
                        </div>
                        <div class="col-xs-8 col-md-7" style="padding: 0; text-align: left;">
                            <p>Mình đã có những điều “đầu tiên…” Là một tester đầu tiên vào công ty được tuyển vào với tư cách là nhân viên chính thức, mình cảm nhận rất rõ sự thay đổi từ từ số lượng nhân viên cho đến quy trình làm việc tính đến thời điểm[…]</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="item " style="min-height:205px;">
                    <div class="row">
                        <div class="col-xs-4 col-md-5">
                            <figure class="item-thumb vietiser-img" style="margin:0;">

                                <img width="500" height="500" src="/Images/images/du.jpg" class="attachment-ci_vietiser size-ci_vietiser wp-post-image" alt="" srcset="https://tuyendung.vietis.com.vn/wp-content/uploads/2017/09/22154420_1287526871357206_6309523369919978709_n-500x500.jpg 500w, https://tuyendung.vietis.com.vn/wp-content/uploads/2017/09/22154420_1287526871357206_6309523369919978709_n-150x150.jpg 150w, https://tuyendung.vietis.com.vn/wp-content/uploads/2017/09/22154420_1287526871357206_6309523369919978709_n-300x300.jpg 300w, https://tuyendung.vietis.com.vn/wp-content/uploads/2017/09/22154420_1287526871357206_6309523369919978709_n-768x768.jpg 768w, https://tuyendung.vietis.com.vn/wp-content/uploads/2017/09/22154420_1287526871357206_6309523369919978709_n-100x100.jpg 100w, https://tuyendung.vietis.com.vn/wp-content/uploads/2017/09/22154420_1287526871357206_6309523369919978709_n-750x750.jpg 750w, https://tuyendung.vietis.com.vn/wp-content/uploads/2017/09/22154420_1287526871357206_6309523369919978709_n.jpg 960w" sizes="(max-width: 500px) 100vw, 500px">

                            </figure>
                            <span>Nguyễn Thùy Dung</span>
                            <p>- Quality Assurance</p>
                        </div>
                        <div class="col-xs-8 col-md-7" style="padding: 0; text-align: left;">
                            <p>Foucaultist power relations If one examines constructivism, one is faced with a choice: either reject precapitalist theory or conclude that context is created Bình luận bình luận</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="item " style="min-height:205px;">
                    <div class="row">
                        <div class="col-xs-4 col-md-5">
                            <figure class="item-thumb vietiser-img" style="margin:0;">

                                <img width="500" height="500" src="/Images/images/toan.jpeg" class="attachment-ci_vietiser size-ci_vietiser wp-post-image" alt="" srcset="https://tuyendung.vietis.com.vn/wp-content/uploads/2017/09/1507534589634-500x500.jpeg 500w, https://tuyendung.vietis.com.vn/wp-content/uploads/2017/09/1507534589634-150x150.jpeg 150w, https://tuyendung.vietis.com.vn/wp-content/uploads/2017/09/1507534589634-100x100.jpeg 100w" sizes="(max-width: 500px) 100vw, 500px">

                            </figure>
                            <span>Nguyễn Đức Toàn</span>
                            <p>- Technical Leader</p>
                        </div>
                        <div class="col-xs-8 col-md-7" style="padding: 0; text-align: left;">
                            <p>“Nếu thế giới chống lại IS, chúng tôi ủng hộ thế giới… nếu thế giới chống lại VietIS, chúng tôi chống lại thế giới…”</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="item " style="min-height:205px;">
                    <div class="row">
                        <div class="col-xs-4 col-md-5">
                            <figure class="item-thumb vietiser-img" style="margin:0;">

                                <img width="500" height="500" src="/Images/images/dien.jpg" class="attachment-ci_vietiser size-ci_vietiser wp-post-image" alt="" srcset="https://tuyendung.vietis.com.vn/wp-content/uploads/2017/09/17156131_1123358657809619_7949193714683499023_n-500x500.jpg 500w, https://tuyendung.vietis.com.vn/wp-content/uploads/2017/09/17156131_1123358657809619_7949193714683499023_n-150x150.jpg 150w, https://tuyendung.vietis.com.vn/wp-content/uploads/2017/09/17156131_1123358657809619_7949193714683499023_n-300x300.jpg 300w, https://tuyendung.vietis.com.vn/wp-content/uploads/2017/09/17156131_1123358657809619_7949193714683499023_n-100x100.jpg 100w, https://tuyendung.vietis.com.vn/wp-content/uploads/2017/09/17156131_1123358657809619_7949193714683499023_n.jpg 629w" sizes="(max-width: 500px) 100vw, 500px">

                            </figure>
                            <span>Giang Văn Diện</span>
                            <p>- Lập trình viên</p>
                        </div>
                        <div class="col-xs-8 col-md-7" style="padding: 0; text-align: left;">
                            <p>Foucaultist power relations If one examines constructivism, one is faced with a choice: either reject precapitalist theory or conclude that context is created</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="item " style="min-height:205px;">
                    <div class="row">
                        <div class="col-xs-4 col-md-5">
                            <figure class="item-thumb vietiser-img" style="margin:0;">
                                <img width="500" height="500" src="/Images/images/diep.jpg" class="attachment-ci_vietiser size-ci_vietiser wp-post-image" alt="" srcset="https://tuyendung.vietis.com.vn/wp-content/uploads/2017/09/19510347_2320819871477012_908663917634114772_n-500x500.jpg 500w, https://tuyendung.vietis.com.vn/wp-content/uploads/2017/09/19510347_2320819871477012_908663917634114772_n-150x150.jpg 150w, https://tuyendung.vietis.com.vn/wp-content/uploads/2017/09/19510347_2320819871477012_908663917634114772_n-300x300.jpg 300w, https://tuyendung.vietis.com.vn/wp-content/uploads/2017/09/19510347_2320819871477012_908663917634114772_n-100x100.jpg 100w, https://tuyendung.vietis.com.vn/wp-content/uploads/2017/09/19510347_2320819871477012_908663917634114772_n.jpg 539w" sizes="(max-width: 500px) 100vw, 500px">
                            </figure>
                            <span>Nguyễn Văn Điệp</span>
                            <p>- Lập trình viên</p>
                        </div>
                        <div class="col-xs-8 col-md-7" style="padding: 0; text-align: left;">
                            <p>Em yêu hỡi mùa xuân vừa về tới Cánh hoa đào nay cũng đã rong chơi Hòa cung mai tô điểm khắp đất trời Xuân sắc thắm rạng ngời bao hy vọng Em có nhớ Hà Nội chiều thơ mộng Phút Thanh Bình ta mến ngỏ lời thương Bao loài[…]</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- //case studies row -->

    </div>

</section>

